Repository JdeRobot/RoboticsAcademy, pull requests merged in 2024-12, with the labels that each got.

#2897 Updating montecarlo visual loc pages
  _pages/exercises/ComputerVision/montecarlo_visual_loc.md
Labels: gh-pages

#2893 Montecarlo Visual Loc
  database/exercises/db.sql
  exercises/static/exercises/assets/img/montecarlo_visual_loc_teaser.png
  exercises/static/exercises/montecarlo_visual_loc/launch/roomba_1_house_visual_loc.world
  exercises/static/exercises/montecarlo_visual_loc/launch/visual_loc_headless.launch
  exercises/static/exercises/montecarlo_visual_loc/python_template/ros2_humble/GUI.py
  exercises/static/exercises/montecarlo_visual_loc/python_template/ros2_humble/HAL.py
  exercises/static/exercises/montecarlo_visual_loc/python_template/ros2_humble/map.py
  exercises/static/exercises/montecarlo_visual_loc/react-components/MontecarloVisualLoc.js
  exercises/static/exercises/montecarlo_visual_loc/react-components/SpecificMontecarloVisualLoc.js
  exercises/static/exercises/montecarlo_visual_loc/react-components/css/GUICanvas.css
  exercises/static/exercises/montecarlo_visual_loc/react-components/css/MontecarloVisualLoc.css
  exercises/static/exercises/montecarlo_visual_loc/react-components/helpers/showImageMontecarlo.js
  exercises/static/exercises/montecarlo_visual_loc/resources/images/mapgrannyannie.png
  exercises/static/exercises/montecarlo_visual_loc/resources/images/vacuum.svg
  exercises/static/exercises/montecarlo_visual_loc_newmanager/entry_point/exercise.py
  exercises/static/exercises/montecarlo_visual_loc_newmanager/launch/ros1_noetic/visual_loc_headless.launch
  exercises/static/exercises/montecarlo_visual_loc_newmanager/python_template/ros1_noetic/README.md
  exercises/static/exercises/montecarlo_visual_loc_newmanager/python_template/ros1_noetic/console.py
  exercises/static/exercises/montecarlo_visual_loc_newmanager/python_template/ros1_noetic/exercise.py
  exercises/static/exercises/montecarlo_visual_loc_newmanager/python_template/ros1_noetic/gui.py
  exercises/static/exercises/montecarlo_visual_loc_newmanager/python_template/ros1_noetic/hal.py
  exercises/static/exercises/montecarlo_visual_loc_newmanager/python_template/ros1_noetic/interfaces/__init__.py
  exercises/static/exercises/montecarlo_visual_loc_newmanager/python_template/ros1_noetic/interfaces/bumper.py
  exercises/static/exercises/montecarlo_visual_loc_newmanager/python_template/ros1_noetic/interfaces/camera.py
  exercises/static/exercises/montecarlo_visual_loc_newmanager/python_template/ros1_noetic/interfaces/laser.py
  exercises/static/exercises/montecarlo_visual_loc_newmanager/python_template/ros1_noetic/interfaces/motors.py
  exercises/static/exercises/montecarlo_visual_loc_newmanager/python_template/ros1_noetic/interfaces/pose3d.py
  exercises/static/exercises/montecarlo_visual_loc_newmanager/python_template/ros1_noetic/interfaces/threadPublisher.py
  exercises/static/exercises/montecarlo_visual_loc_newmanager/react-components/SpecificMontecarloVisualLoc.js
  exercises/static/exercises/montecarlo_visual_loc_newmanager/react-components/helpers/birds_eye.js
  exercises/templates/exercises/montecarlo_visual_loc/exercise.html
  exercises/templates/exercises/montecarlo_visual_loc_newmanager/exercise.html
  react_frontend/src/components/editors/monaco-editor/autocomplete-snippets/hal_gui_snippets.js
Labels: upgrade-exercise

#2905 Update user guide
  _pages/user_guide.md
Labels: gh-pages

#2888 [WIP] Adding marker based visual loc doc
  _pages/exercises.md
  _pages/exercises/ComputerVision/marker_visual_loc.md
  assets/images/exercises/marker_based_visual_loc/camera-intrinsic.png
  assets/images/exercises/marker_based_visual_loc/exmaple_tag.png
  assets/images/exercises/marker_based_visual_loc/marker_teaser.png
Labels: gh-pages, new-exercise
